Repository nilearn/nilearn, pull requests merged in 2024-06, with the labels that each got.

#4235 [ENH] add plotting functions to the experimental surface module
  examples/08_experimental/plot_surface_image_and_maskers.py
  nilearn/conftest.py
  nilearn/experimental/__init__.py
  nilearn/experimental/plotting/__init__.py
  nilearn/experimental/plotting/_surface_plotting.py
  nilearn/experimental/surface/_datasets.py
  nilearn/experimental/surface/_maskers.py
  nilearn/experimental/surface/_surface_image.py
  nilearn/experimental/surface/tests/conftest.py
  nilearn/experimental/surface/tests/test_datasets.py
  nilearn/experimental/surface/tests/test_io.py
  nilearn/experimental/surface/tests/test_maskers.py
  nilearn/experimental/surface/tests/test_surface_image.py
Labels: Plotting, Priority: high, Blocker, Surface

#4126 [ENH] Adapt FirstLevelModel to work with surface data objects from new API
  examples/08_experimental/plot_localizer_new_surface_analysis_experimental.py
  examples/08_experimental/plot_new_surface_bids_analysis_experimental.py
  nilearn/conftest.py
  nilearn/glm/first_level/first_level.py
  nilearn/glm/tests/test_first_level.py
  nilearn/interfaces/bids/query.py
  nilearn/reporting/glm_reporter.py
  nilearn/reporting/tests/test_glm_reporter.py
Labels: Surface

#4431 [ENH] expand surface plotting with new surface object
  doc/modules/experimental.rst
  examples/08_experimental/plot_3d_map_to_surface_projection_experimental.py
  examples/08_experimental/plot_localizer_new_surface_analysis_experimental.py
  examples/08_experimental/plot_new_surface_bids_analysis_experimental.py
  examples/08_experimental/plot_surf_atlas_experimental.py
  examples/08_experimental/plot_surf_stat_map_experimental.py
  examples/08_experimental/plot_surface_image_and_maskers.py
  nilearn/_utils/tests/test_common.py
  nilearn/conftest.py
  nilearn/experimental/conftest.py
  nilearn/experimental/plotting/__init__.py
  nilearn/experimental/plotting/_surface_plotting.py
  nilearn/experimental/plotting/tests/test_surface_plotting.py
  nilearn/experimental/surface/__init__.py
  nilearn/experimental/surface/_datasets.py
  nilearn/experimental/surface/_surface_image.py
  nilearn/experimental/surface/maskers.py
  nilearn/experimental/surface/tests/test_datasets.py
  tox.ini
Labels: Surface

#4432 [ENH] add report for SurfaceMasker
  doc/modules/generated_reports/masker_reports_examples.rst
  doc/visual_testing/reporter_visual_inspection_suite.py
  examples/08_experimental/plot_surface_image_and_maskers.py
  nilearn/_utils/tests/test_common.py
  nilearn/conftest.py
  nilearn/experimental/conftest.py
  nilearn/experimental/reporting/tests/__init__.py
  nilearn/experimental/reporting/tests/test_html_report.py
  nilearn/experimental/surface/__init__.py
  nilearn/experimental/surface/_datasets.py
  nilearn/experimental/surface/maskers.py
  nilearn/experimental/surface/tests/test_maskers.py
  nilearn/externals/README.md
  nilearn/glm/tests/test_second_level.py
  nilearn/maskers/tests/test_nifti_spheres_masker.py
  nilearn/reporting/data/css/masker_report.css
  nilearn/reporting/data/html/report_body_template_surfacemasker.html
  nilearn/reporting/html_report.py
  nilearn/reporting/tests/test_glm_reporter.py
  nilearn/reporting/tests/test_reporting.py
  nilearn/reporting/utils.py
Labels: Blocker, Surface, Report

#4461 [REF] refactor FLM fitting
  nilearn/glm/first_level/first_level.py
Labels: Blocker
